<nav class="panel">
    <p class="panel-heading">
        Posts
    </p>
    <a class="panel-block" v-for="post in posts">
        <span class="panel-icon">
          <i class="fa fa-book"></i>
        </span>
        <span v-text="post.name"></span>
    </a>
</nav>