<nav class="panel">
    <p class="panel-heading">
        Posts
    </p>
    {% for post in posts %}
        <a class="panel-block">
            <span class="panel-icon">
              <i class="fa fa-book"></i>
            </span>
                bulma
        </a>
    {% endfor %}
</nav>